/* TUTORIAL START */

.tutorial-black-overlay {
    position: absolute;
    opacity: 0;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.9) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.9)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.9) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.9) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.9) 100%);
    background: radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000', endColorstr='#e6000000', GradientType=1);
    -ms-filter: "alpha(opacity=50)";
    filter: alpha(opacity=50);
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    z-index: 999990;
    background-color: #000;
}

.tutorial-click-overlay {
    z-index: 1000000;
    background-color: transparent;
    position: absolute;
    opacity: 0;
}
.tutorial-black-overlay.active, .tutorial-click-overlay.active {
    opacity: 0.8;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}


[tutorial].active [tutorial-highlight] {
    position: relative;
    z-index: 999995 !important;
    border-radius: 6px;
}

.tutorial-close{
    background: url("../img/icon-close.png");
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #FFF;
    cursor: pointer;
    display: block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
}
