/* TUTORIAL START */

.tutorial-black-overlay {
    position: absolute;
    opacity: 0;
    background: rgb(117,117,117); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(117,117,117,0.5) 0%, rgba(19,19,19,0.5) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(117,117,117,0.5) 0%,rgba(19,19,19,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(117,117,117,0.5) 0%,rgba(19,19,19,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#757575', endColorstr='#131313',GradientType=1 );
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    z-index: 999990;
}

.tutorial-click-overlay {
    z-index: 1000000;
    background-color: transparent;
    position: absolute;
    opacity: 0;
}
.tutorial-black-overlay.active, .tutorial-click-overlay.active {
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}


[tutorial] [tutorial-highlight].active {
    position: relative;
    z-index: 999995 !important;
    border-radius: 6px;
}

.tutorial-close{
    position: fixed;
    z-index: 999996 !important;
    background: url("../img/icon-close.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    top: 20px;
    right: 20px;
    cursor: pointer;
    display: block;
    width: 40px;
    height: 40px;
}

.tutorial-arrow{
    position: fixed;
    z-index: 999996 !important;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    top: 20px;
    left: 50%;
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
.tutorial-arrow-right{
    background-image: url("../img/arrow-right.png");
    margin-left: 20px;
}
.tutorial-arrow-left{
    background-image: url("../img/arrow-left.png");
    margin-left: -60px;
}
